/*****Desktop Styles*****/

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: auto;
}

.main-head {
    display: grid;
    padding: 10px;
}

.main-nav {
    display: flex;
}

.nav-list {
    display: flex;
    margin-left: -23px;
    margin-right: -23px;

}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav ul li{
    padding-top: 2rem;
}

nav ul li a {
    display: flex;
    margin-top: 2em;
    margin-left: 23px;
    margin-right: 23px;
    text-decoration: none;
    color: black;
}

nav ul img {
    width: 15rem;
    padding-right: 38rem; /* To seperate (give space) the logo and nav*/
}


/* CONTAINER */

.container {
    padding: 1.5em;

}

/* Home Page */

.pophome {
    background-image: url(../images/delicious-handmade-candies_23-2147654647.jpg);
    background-size: cover;
    width: 100%;
    height: 30rem;
    background-repeat: repeat;

}

.home p {
    background-position: center;
    text-align: center;
    padding-top: 1em;
    width: 100%;
    font-size: 1.5rem;
}

.home h1 {
    background-position: center;
    text-align: center;
    padding-top: 1em;
    font-size: 2.5rem;
}


/* First content, why choose us? */

.chooseus {
    background-position: center;
}

.why ul li {
    list-style-type: none;
}

.why li:first-child {
    padding-bottom: 2em;
}

.why li:nth-child(2) {
    padding-bottom: 2em;
}

.choose p {
    text-align: center;
    font-size: 2em;
}

.choose h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

/* Order Now Contect Section */

.ordernow {
    display: flex;
}

.orderimg {
    flex: 1;
    padding: 5em 0 5em 7em; /* Top, Right, Bottom, Left */
}

.order {
    flex: 1;
    padding: 12em 7em 5em 0; /* Top, Right, Bottom, Left */
}

/* Community Content Section */

.community {
    display: flex;
}

.joincomm {
    flex: 1;
    padding: 12em 7em 5em 7em; /* Top, Right, Bottom, Left */
}

.commimg {
    flex: 1;
    padding: 5em 7em 5em 0; /* Top, Right, Bottom, Left */
}

/* Assitance Content Section */

.assistance {
    display: flex;
}

.assist {
    flex: 1;
    padding: 12em 7em 5em 0; /* Top, Right, Bottom, Left */
}

.assistimg {
    flex: 1;
    padding: 5em 0 5em 7em; /* Top, Right, Bottom, Left */
}

/*  */


/*  */


/*  */


/*  */

/* FOOTER STYLES */

footer {
    background-color: white; /*change color for footer's background*/
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;

}

.logo img {
    width: 15rem;
    padding-right: 17rem; /* To seperate the logo and nav*/  
}


.social-icon {
    font-size: 3em;
    padding-left: 5rem;
}

.copyright {
    flex: 1;
    font-size: 12px;
    margin-left: 20em;
}